.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

.scoreBox {
    display: flex;
    border-width: 4rem;
    border-radius: 5rem;
    border-color: black;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}